altgraph==0.17.4
asgiref==3.7.2
certifi==2023.7.22
distlib==0.3.7
Django==4.2.6
filelock==3.12.4
fuzzywuzzy==0.18.0
markdown2==2.4.11
packaging==24.0
pefile==2023.2.7
pipenv==2023.10.3
platformdirs==3.11.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pywin32-ctypes==0.2.2
setuptools==68.2.2
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
